<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jogobungatech.quiz" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jogo BungaTech Quiz</name>
    <description>
        Jogo Quiz BungaTech sobre materia de Programação, Física, Química, informática e biologia.
    </description>
    <author email="pedrobungapaulo2023@gmail.com" href="https://pedrobungapaulo.onrender.com">
        Pedro Bunga Paulo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Ícone genérico de fallback -->
    <icon src="icon.png" /> 
    
    <!-- Configurações e Ícones unificados para Android -->
    <platform name="android">
        <!-- Preferências da API (SDK) -->
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
        <allow-intent href="market:*" />

    </platform>

    <!-- Configurações e Ícones para iOS -->
    <platform name="ios">
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />
    </platform>
</widget>
